$primary-color-1: #131921;
$primary-color-2: #FFF;
$primary-color-3: #F3A847;
$primary-color-4: #d3d3d3;
$primary-color-5: #F3F3F3;
$primary-color-6: #c70000;

$secondary-color-1: #FF9902;
$secondary-color-2: #FFB84F;
$secondary-color-3: #e10317;
$secondary-color-4: #ff4545;
